body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #344e41;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

h1 {
  color: white;
  font-family: monospace;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2);
  width: 50%;
  height: 400px;
  margin: auto;
  border: 10px none;
  background-color: none;
  column-gap: 0em;
  margin: 0%;
}

.cards {
  width: 100px;
  height: 150px;
  font-size: 2em;
  margin-left: 10px;
  text-align: center;
  border-radius: none;
  border-style: solid;
  border-color: #588157;
  background-color: #edb409 ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: auto;
}

.back {
  background-color: #588157;
  /*background-image: url("../images/y2kpinkpurp.jpeg");*/
  cursor: pointer;
  transition: 1s;
}

.back:hover {
background-color: #edb409;
transform: rotateY(180deg);
transition: 1s;
/*background-image: url("../images/90spinkheart.jpg");*/
}

.front {
  color: #588157;
  display: flex;
  justify-content: center;
}

.playBtn {
  font-family: monospace;
  color: #caf0f8;
  padding: 20px;
  margin-top: 0%;
  background-color: #edb409;
  border: none;
}