body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #0077b6;
}

h1 {
  color: #caf0f8;
  font-family: monospace;
}

.container {
  width: 52%;
  height: 700px;
  margin: 0 auto;
  border: 10px none;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 0em;
  margin: 0%;
}

.items {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100px;
  height: 150px;
  font-size: 2em;
  text-align: center;
  border-radius: none;
  border-style: solid;
  border-color: #90e0ef;
  background-color: #caf0f8 ;
}

.playBtn {
  font-family: monospace;
  color: #caf0f8;
  padding: 20px;
  margin-top: 0%;
  background-color: #03045e;
  border: none;
}